.room-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .room-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
  }
  
  .room-card h3 {
    margin-top: 0;
  }
  
  .room-card p {
    margin: 5px 0;
  }
  
  .room-image {
    width: 100%;
    border-radius: 5px;
  }

  button
  {
    background-color: lightgreen;
  }

  input
  {
    width: 10px;
  }
  